.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.grid:before, .grid:after {
  margin: 0;
  padding: 0;
}

.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}

.grid-bottom .unit {
  vertical-align: bottom;
}

.grid-middle .unit {
  vertical-align: middle;
}

[class*="unit-push-"],
[class*="unit-pull-"] {
  position: relative;
}

.unit-xs-hidden {
  display: none;
  visibility: hidden;
}

.unit-xs-centered {
  margin: 0 auto;
}

.unit-xs-1, .xs-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-offset-xs-0 {
  margin-left: 0;
}

.unit-push-xs-0,
.unit-pull-xs-0 {
  left: 0;
}

.unit-xs-1-2, .xs-1-2 {
  width: 50.0000%;
}

.unit-offset-xs-1-2 {
  margin-left: 50.0000%;
}

.unit-push-xs-1-2 {
  left: 50.0000%;
}

.unit-pull-xs-1-2 {
  left: -50.0000%;
}

.unit-xs-1-3, .xs-1-3 {
  width: 33.3333%;
}

.unit-offset-xs-1-3 {
  margin-left: 33.3333%;
}

.unit-push-xs-1-3 {
  left: 33.3333%;
}

.unit-pull-xs-1-3 {
  left: -33.3333%;
}

.unit-xs-2-3, .xs-2-3 {
  width: 66.6667%;
}

.unit-offset-xs-2-3 {
  margin-left: 66.6667%;
}

.unit-push-xs-2-3 {
  left: 66.6667%;
}

.unit-pull-xs-2-3 {
  left: -66.6667%;
}

.unit-xs-1-4, .xs-1-4 {
  width: 25.0000%;
}

.unit-offset-xs-1-4 {
  margin-left: 25.0000%;
}

.unit-push-xs-1-4 {
  left: 25.0000%;
}

.unit-pull-xs-1-4 {
  left: -25.0000%;
}

.unit-xs-3-4, .xs-3-4 {
  width: 75.0000%;
}

.unit-offset-xs-3-4 {
  margin-left: 75.0000%;
}

.unit-push-xs-3-4 {
  left: 75.0000%;
}

.unit-pull-xs-3-4 {
  left: -75.0000%;
}

.unit-xs-1-2, .xs-1-2, .unit-xs-1-3, .xs-1-3, .unit-xs-2-3, .xs-2-3, .unit-xs-1-4, .xs-1-4, .unit-xs-3-4, .xs-3-4 {
  display: inline-block;
  visibility: visible;
}

@media only screen and (min-width: 25em) {
  .unit-s-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-s-centered {
    margin: 0 auto;
  }
  .unit-s-1, .s-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-s-0 {
    margin-left: 0;
  }
  .unit-push-s-0,
  .unit-pull-s-0 {
    left: 0;
  }
  .unit-s-1-2, .s-1-2 {
    width: 50.0000%;
  }
  .unit-offset-s-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-s-1-2 {
    left: 50.0000%;
  }
  .unit-pull-s-1-2 {
    left: -50.0000%;
  }
  .unit-s-1-3, .s-1-3 {
    width: 33.3333%;
  }
  .unit-offset-s-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-s-1-3 {
    left: 33.3333%;
  }
  .unit-pull-s-1-3 {
    left: -33.3333%;
  }
  .unit-s-2-3, .s-2-3 {
    width: 66.6667%;
  }
  .unit-offset-s-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-s-2-3 {
    left: 66.6667%;
  }
  .unit-pull-s-2-3 {
    left: -66.6667%;
  }
  .unit-s-1-4, .s-1-4 {
    width: 25.0000%;
  }
  .unit-offset-s-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-s-1-4 {
    left: 25.0000%;
  }
  .unit-pull-s-1-4 {
    left: -25.0000%;
  }
  .unit-s-3-4, .s-3-4 {
    width: 75.0000%;
  }
  .unit-offset-s-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-s-3-4 {
    left: 75.0000%;
  }
  .unit-pull-s-3-4 {
    left: -75.0000%;
  }
  .unit-s-1-2, .s-1-2, .unit-s-1-3, .s-1-3, .unit-s-2-3, .s-2-3, .unit-s-1-4, .s-1-4, .unit-s-3-4, .s-3-4 {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 38em) {
  .unit-m-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-m-centered {
    margin: 0 auto;
  }
  .unit-m-1, .m-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-m-0 {
    margin-left: 0;
  }
  .unit-push-m-0,
  .unit-pull-m-0 {
    left: 0;
  }
  .unit-m-1-2, .m-1-2 {
    width: 50.0000%;
  }
  .unit-offset-m-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-m-1-2 {
    left: 50.0000%;
  }
  .unit-pull-m-1-2 {
    left: -50.0000%;
  }
  .unit-m-1-3, .m-1-3 {
    width: 33.3333%;
  }
  .unit-offset-m-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-m-1-3 {
    left: 33.3333%;
  }
  .unit-pull-m-1-3 {
    left: -33.3333%;
  }
  .unit-m-2-3, .m-2-3 {
    width: 66.6667%;
  }
  .unit-offset-m-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-m-2-3 {
    left: 66.6667%;
  }
  .unit-pull-m-2-3 {
    left: -66.6667%;
  }
  .unit-m-1-4, .m-1-4 {
    width: 25.0000%;
  }
  .unit-offset-m-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-m-1-4 {
    left: 25.0000%;
  }
  .unit-pull-m-1-4 {
    left: -25.0000%;
  }
  .unit-m-3-4, .m-3-4 {
    width: 75.0000%;
  }
  .unit-offset-m-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-m-3-4 {
    left: 75.0000%;
  }
  .unit-pull-m-3-4 {
    left: -75.0000%;
  }
  .unit-m-1-2, .m-1-2, .unit-m-1-3, .m-1-3, .unit-m-2-3, .m-2-3, .unit-m-1-4, .m-1-4, .unit-m-3-4, .m-3-4 {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 60em) {
  .unit-l-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-l-centered {
    margin: 0 auto;
  }
  .unit-l-1, .l-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }
  .unit-offset-l-0 {
    margin-left: 0;
  }
  .unit-push-l-0,
  .unit-pull-l-0 {
    left: 0;
  }
  .unit-l-1-2, .l-1-2 {
    width: 50.0000%;
  }
  .unit-offset-l-1-2 {
    margin-left: 50.0000%;
  }
  .unit-push-l-1-2 {
    left: 50.0000%;
  }
  .unit-pull-l-1-2 {
    left: -50.0000%;
  }
  .unit-l-1-3, .l-1-3 {
    width: 33.3333%;
  }
  .unit-offset-l-1-3 {
    margin-left: 33.3333%;
  }
  .unit-push-l-1-3 {
    left: 33.3333%;
  }
  .unit-pull-l-1-3 {
    left: -33.3333%;
  }
  .unit-l-2-3, .l-2-3 {
    width: 66.6667%;
  }
  .unit-offset-l-2-3 {
    margin-left: 66.6667%;
  }
  .unit-push-l-2-3 {
    left: 66.6667%;
  }
  .unit-pull-l-2-3 {
    left: -66.6667%;
  }
  .unit-l-1-4, .l-1-4 {
    width: 25.0000%;
  }
  .unit-offset-l-1-4 {
    margin-left: 25.0000%;
  }
  .unit-push-l-1-4 {
    left: 25.0000%;
  }
  .unit-pull-l-1-4 {
    left: -25.0000%;
  }
  .unit-l-3-4, .l-3-4 {
    width: 75.0000%;
  }
  .unit-offset-l-3-4 {
    margin-left: 75.0000%;
  }
  .unit-push-l-3-4 {
    left: 75.0000%;
  }
  .unit-pull-l-3-4 {
    left: -75.0000%;
  }
  .unit-l-1-2, .l-1-2, .unit-l-1-3, .l-1-3, .unit-l-2-3, .l-2-3, .unit-l-1-4, .l-1-4, .unit-l-3-4, .l-3-4 {
    display: inline-block;
    visibility: visible;
  }
}

.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
          align-items: center;
}

.content-fill {
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 100%;
  /* @bugfix: IE 10, 11 */
}

.content-shrink {
  -ms-align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  z-index: 9999;
  display: block;
  left: 0;
  height: 35px;
  width: 35px;
  background: #ffffff url("../images/nav.png") no-repeat center center;
  background-size: 16px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-indent: 2.8rem;
}

.nav a,
.nav a:link,
.nav a:visited {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* Toggle */
.nav-top {
  display: none;
}

.nav-top[data-state="expanded"] {
  display: block;
}

@media only screen and (min-width: 60em) {
  .nav-btn,
  .nav-btn:link,
  .nav-btn:visited {
    display: none;
  }
  .nav-top {
    width: 100%;
    display: inline-block;
    overflow: auto;
    float: right;
  }
  .nav ul {
    text-align: center;
  }
  .nav ul li {
    display: inline-block;
    margin: 0 auto;
  }
  .nav a,
  .nav a:link,
  .nav a:visited {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 50em) {
  .nav-top {
    float: right;
    padding-right: .25rem;
  }
  .nav ul {
    text-align: left;
    float: right;
    margin-right: 8rem;
  }
}

a.contact {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

html {
  font-size: 1em;
}

body {
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #303030;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h1, .uno {
  margin-top: 0;
  font-size: 3.998em;
}

h2, .dos {
  font-size: 2.827em;
}

h3, .tres {
  font-size: 1.999em;
}

h4, .cuatro {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.707em;
}

a {
  color: #303030;
}

@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

::-moz-selection {
  background-color: black;
  color: white;
}

::selection {
  background-color: black;
  color: white;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.flex-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.no-spacing {
  margin: 0;
}

.push-top-1 {
  display: block;
  margin-top: 15px;
}

.push-top-2 {
  display: block;
  margin-top: 22.5px;
}

.push-top-3 {
  display: block;
  margin-top: 30px;
}

section {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  height: auto;
  min-height: inherit;
}

@media only screen and (min-width: 38em) {
  section {
    min-height: 600px;
  }
}

section aside {
  height: 100%;
  margin: auto;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
}

section aside.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  width: 100%;
  height: 500px;
  position: relative;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media only screen and (min-width: 38em) {
  section aside.media {
    height: auto;
    width: 50%;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

section aside.content {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 6%;
}

@media only screen and (min-width: 38em) {
  section aside.content {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (min-width: 38em) {
  section.flip-layout aside.media {
    left: 50%;
    top: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 38em) {
  section.flip-layout aside.content {
    right: 50%;
    top: 0;
    bottom: 0;
  }
}

#intro {
  background: #ecf0f1;
  padding: 2%;
}

#about-intro aside.media {
  background-image: url(http://www.placehold.it/700x700/95a5a6);
  background-size: cover;
}

#slider-intro aside.media {
  background-image: url(http://www.placehold.it/700x700/e6e6e6);
  background-size: cover;
}

.btn {
  font-size: 0.95em;
  font-weight: 600;
  z-index: 2;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  background-color: #303030;
  position: relative;
  overflow: hidden;
  margin: 0px;
  padding: 10px 14px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*&:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 101%;
        height: 0;
        top: 50%;
        left: 50%;
        background: $color;
        opacity: 0;
        
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }*/
}

.btn:hover {
  color: #fff;
}

.btn:active {
  color: #fff;
}

.btn:hover:after {
  height: 111%;
  opacity: 1;
}

.btn:active:after {
  height: 110%;
  opacity: 1;
}

.carousel-wrapper {
  position: relative;
  height: auto;
}

@media only screen and (min-width: 38em) {
  .carousel-wrapper {
    min-height: 600px;
  }
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  background: url(../../images/slider-arrow.png) 50% 50%/20px no-repeat;
}

.arrow-prev {
  left: 0;
}

.arrow-next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

[id^="target-item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
}

*:target ~ .item-1 {
  opacity: 0;
}

#target-item-1:target ~ .item-1 {
  opacity: 1;
}

#target-item-2:target ~ .item-2,
#target-item-3:target ~ .item-3,
#target-item-4:target ~ .item-4,
#target-item-5:target ~ .item-5,
#target-item-6:target ~ .item-6,
#target-item-7:target ~ .item-7,
#target-item-8:target ~ .item-8,
#target-item-9:target ~ .item-9,
#target-item-10:target ~ .item-10,
#target-item-11:target ~ .item-11 {
  z-index: 3;
  opacity: 1;
}

#i-1, #i-2, #i-3 {
  background-color: #ecf0f1;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.holder {
  width: 300%;
  height: 100%;
}

.slide {
  float: left;
  width: 33.333333%;
  height: 100%;
}

.slider-nav {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: block;
  z-index: 7;
}

.slider-nav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: solid 1px white;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
}

.slider-nav a.active {
  background-color: rgba(255, 255, 255, 0.6);
}

.slide {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#slide-0 {
  background-image: url(../../images/placeholder1.jpg);
}

#slide-1 {
  background-image: url(../../images/placeholder2.jpg);
}

#slide-2 {
  background-image: url(../../images/placeholder3.jpg);
}
