// Variables

$white: #fff;
$dark: #2e2e2d;
$spot: #ef4448;

$hoverred: #445f88;
$hoverblack: #324a71;
$hoverwhite: #d2b797;

$cooper: 'cooper-black-std', serif;
$clarendon: 'clarendon-text-pro', sans-serif;

$media-s: "only screen and (min-width: 25em)";
$media-m: "only screen and (min-width: 38em)";
$media-l: "only screen and (min-width: 60em)";