// Variables

$white: #fff;
$dark: #303030;
$spot: #ffffff;
$grey: #95a5a6;
$lightgrey: #ecf0f1;

$hoverred: #445f88;
$hoverblack: #324a71;
$hoverwhite: #d2b797;

$cooper: 'cooper-black-std', serif;
$clarendon: 'clarendon-text-pro', sans-serif;

$media-s: "only screen and (min-width: 25em)";
$media-m: "only screen and (min-width: 38em)";
$media-l: "only screen and (min-width: 60em)";