// Buttons and Inputs

.btn {
    @include button($dark, $spot, 0px);
}

.cta-btn-sm {
    @include button($dark, $spot, 15px 0 0);
}

.cta-btn-m {
    @include button($dark, $spot, 0);
    display: none;
    @media #{$media-m} {
        display: inline-block;
    }
    & {
        padding: 5px 10px;
        margin-top: 2px;
    }
}