// Carousel

.carousel-wrapper {
    position: relative;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: aqua;
    /*background: url(http://placehold.it/40x40) 50% 50% / 20px no-repeat;*/
}

.arrow-prev {
    left: 0;
}
.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

[id^="target-item"] {
  display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}

*:target ~ .item-1 {
    opacity: 0;
}

#target-item-1:target ~ .item-1 {
    opacity: 1;
}

#target-item-2:target ~ .item-2, 
#target-item-3:target ~ .item-3, 
#target-item-4:target ~ .item-4,
#target-item-5:target ~ .item-5,
#target-item-6:target ~ .item-6,
#target-item-7:target ~ .item-7,
#target-item-8:target ~ .item-8,
#target-item-9:target ~ .item-9,
#target-item-10:target ~ .item-10,
#target-item-11:target ~ .item-11 {
    z-index: 3;
    opacity: 1;
}

// BG Colors 

#i-1 {
    background-color: $lightgrey;
}