// Project-Specific Styles

header {
    padding-top: 1rem;
    height: 6.25rem;
    border-bottom: 1px solid #d9d9d9;
    width: 86%;
    margin: 0 auto;
    background-color: transparent;
    .small-logo {
        left: 0;
        bottom: 1rem;
        width: 100px;
    }
    .nav-contact-2 {
        bottom: .925rem;
        right: 40px;
        font-size: .6875rem;
        li a {color: $lightgrey;}
    }
    .nav-btn,
    .nav-btn:link,
    .nav-btn:visited{
        bottom: .75rem;
        right: 0;
        height: 30px;
        width: 30px;
        border: solid 2px $red;
        border-radius: 5px;
        background: transparent url('../images/nav.png') no-repeat center center;
        background-size: 13px; 
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        text-indent: 9999px;
    }
}

.nav a, 
.nav a:link,
.nav a:visited{
    font-size: .85rem;
    letter-spacing: 0.06em;
}

#intro {
    background: $white; 
    padding: 7%;
    padding-top: calc(6.25rem + 5%);
    @media #{$media-m} {
        padding: calc(50px + 5%) 10% 5%;
    }
    h1 {
        letter-spacing: 0.01em;
        line-height: 1.333333333;
        font-size: 2.25em;
        @media #{$media-m} {
            font-size: 3.375em;
        }
        .tek-av {
            display: none;
            @media #{$media-m} {
                display: inline-block;
            }
        }
        .tagline {
            letter-spacing: 0.275em;
            color: $lightgrey;
        }
        .done-right {
            letter-spacing: 0.275em;
            color: $red;
        }
    }
}

#about-intro aside.media {
    background-image: url(http://www.placehold.it/700x700/c1c1c1);
    background-size: cover;
}

#about-us {
    padding: 7% 0;
    background-color: $charcoal;
    color: $white;
    @media #{$media-m} { 
        padding: 5% 10%; 
    }
    h2 {
        text-transform: none;
        line-height: 1;
        color: $white;
        font-size: 2.25rem;
        //border-top: 6px solid white;
        padding-top: 30px;
        display: inline-block;
        letter-spacing: 0.0025em;
        margin-top: -6px;
    }
    p {
        padding: 13px 0 30px;
    }
    .local-service, .dream-setup, .crafted {
        padding: 7%;
        padding-top: calc(7% + 20px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .local-service {
        background-image: url(../../images/local-service.jpg);
        margin-top: 30px;
        h2 {
            border-top: 6px solid $red;
        }
        p {
            border-bottom: 1px solid $red;
        }
    }
    .dream-setup {
        margin-top: 60px;
        background-image: url(../../images/local-service.jpg);
        h2 {
            border-top: 6px solid $yellow;
        }
        p {
            border-bottom: 1px solid $yellow;
        }
    }
    .crafted {
        margin-top: 60px;
        background-image: url(../../images/local-service.jpg);
        h2 {
            border-top: 6px solid $blue;
        }
        p {
            border-bottom: 1px solid $blue;
        }
    }
    p {
        letter-spacing: 0.3em;
        font-weight: 500;
        line-height: 2;
        font-size: .75rem;
        color: $lightgrey;
    }
}

#i-1, #i-2, #i-3 {
    background-color: $lightgrey;
}

#slide-0 {
    background-image: url("http://placehold.it/1400x1400/666666/ffffff");
    position: relative;
}

#slide-0:after {
    content: 'Optional caption for each image. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.';
}

#slide-1 {
  background-image: url(http://placehold.it/1400x1400/333333/ffffff);
}

#slide-2 {
  background-image: url(http://placehold.it/1400x1400/555555/ffffff);
}

#services {
    text-align: center;
    padding-top: 3rem;
    background-color: $white;
    h2 {
        color: $white;
        line-height: .1;
        color: $white;
        letter-spacing: 0.02;
    }
    .slogan {
        letter-spacing: 0.2em;
        color: $white;
        font-weight: 700;
    }
}

.two-split, .logos {
    margin-top: 6rem;
}

#our-work {
    text-align: center;
    margin-top: 1rem;
    padding-top: 3rem;
}

footer {
    text-align: center;
    padding: 6%;
}

.two-split td {
    @media #{$media-l} {
        &.left {
            width: 45%;
            text-align: right;
            padding-left: 10rem;
        }
    }
}

dl {
    dt {
        font-size: 3em;
    }
}

.unflip-btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.flipper {
    text-align: left;
}

#flipper-1 .front {
    background-color: $boxred;
}

#flipper-2 .front {
    background-color: $boxyellow;
}

#flipper-3 .front {
    background-color: $boxblue;
}

.mini-cards{
    h5 {
        font-size: .75rem;
        line-height: 1.333333333;
        color: $charcoal;
        letter-spacing: 0.3em;
    }
}
