// Project-Specific Styles

header {
    padding-top: 1rem;
    height: 6.25rem;
    border-bottom: 1px solid #d9d9d9;
    width: 86%;
    margin: 0 auto;
    background-color: transparent;
    .small-logo {
        left: 0;
        bottom: 1rem;
        width: 100px;
    }
    .nav-contact-2 {
        bottom: .925rem;
        right: 40px;
        font-size: .6875rem;
        li a {color: $lightgrey;}
    }
    .nav-btn,
    .nav-btn:link,
    .nav-btn:visited{
        bottom: .75rem;
        right: 0;
        height: 30px;
        width: 30px;
        border: solid 2px $red;
        border-radius: 5px;
        background: transparent url('../images/nav.png') no-repeat center center;
        background-size: 13px; 
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        text-indent: 9999px;
    }
}

.nav a, 
.nav a:link,
.nav a:visited{
    font-size: .85rem;
    letter-spacing: 0.06em;
}

#intro {
    background: $white; 
    padding: 7%;
    padding-top: calc(6.25rem + 5%);
    @media #{$media-m} {
        padding: calc(50px + 5%) 10% 5%;
    }
    h1 {
        letter-spacing: 0.01em;
        line-height: 1.333333333;
        font-size: 1.75em;
        @media #{$media-s} {
            font-size: 2.25em;
        }
        @media #{$media-m} {
            font-size: 3.375em;
        }
        .tek-av {
            display: none;
            @media #{$media-m} {
                display: inline-block;
            }
        }
        .tagline {
            letter-spacing: 0.275em;
            color: $lightgrey;
        }
        .done-right {
            letter-spacing: 0.275em;
            color: $red;
        }
    }
}

#about-intro aside.media {
    background-image: url(http://www.placehold.it/700x700/c1c1c1);
    background-size: cover;
}

#about-us {
    padding: 7% 0;
    background-color: $charcoal;
    color: $white;
    @media #{$media-m} { 
        padding: 5% 10%; 
    }
    h2 {
        text-transform: none;
        line-height: 1;
        color: $white;
        font-size: 2.25rem;
        //border-top: 6px solid white;
        padding-top: 30px;
        display: inline-block;
        letter-spacing: 0.0025em;
        margin-top: -6px;
    }
    p {
        padding: 13px 0 30px;
    }
    .local-service, .dream-setup, .crafted {
        padding: 7%;
        padding-top: calc(7% + 20px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .local-service {
        background-image: url(../../images/local-service.jpg);
        margin-top: 30px;
        h2 {
            border-top: 6px solid $red;
        }
        p {
            border-bottom: 1px solid $red;
        }
    }
    .dream-setup {
        margin-top: 60px;
        background-image: url(../../images/local-service.jpg);
        h2 {
            border-top: 6px solid $yellow;
        }
        p {
            border-bottom: 1px solid $yellow;
        }
    }
    .crafted {
        margin-top: 60px;
        background-image: url(../../images/local-service.jpg);
        h2 {
            border-top: 6px solid $blue;
        }
        p {
            border-bottom: 1px solid $blue;
        }
    }
    p {
        letter-spacing: 0.3em;
        font-weight: 500;
        line-height: 2;
        font-size: .75rem;
        color: $lightgrey;
    }
}

#i-1, #i-2, #i-3 {
    background-color: $lightgrey;
}

#slide-0 {
    background-image: url("http://placehold.it/1400x1400/666666/ffffff");
    position: relative;
}

#slide-0:after {
    content: 'Optional caption for each image. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.';
}

#slide-1 {
  background-image: url(http://placehold.it/1400x1400/333333/ffffff);
}

#slide-2 {
  background-image: url(http://placehold.it/1400x1400/555555/ffffff);
}

#services {
    text-align: center;
    padding-top: 7.1875rem;
    background-color: $white;
    h1 {
        font-weight: 700;
        color: $lightgrey;
        font-size: 1rem;
        letter-spacing: 0.3em;
        margin-top: 0;
        line-height: 1;
        margin-bottom: 3.875rem;
    }
    .flipper {
        position: relative;
        text-align: left;
        .front {
            background-position: top;
            background-repeat: no-repeat;
            position: relative;
            padding: 1.5rem;
            padding-bottom: 1rem;
            h2 {
                color: $white;
                line-height: .1;
                color: $white;
                letter-spacing: 0.025em;
                margin-top: 16rem;
                @media #{$media-s} {
                    margin-top: 21rem;
                }
            }
            .number, .slogan {
                color: $white;
                font-weight: 700;
            }
            .slogan {
                letter-spacing: 0.2em;
                margin-bottom: 2rem;
            }
            .small-p {
                margin-bottom: 2.65rem;
            }
        }
        .back {
            padding: 1.5rem;
            .custom-quote-btn {
                display: block;
                width: 100%;
                text-align: center;
                border-radius: 5px;
                border: solid 2px $white;
                text-decoration: none;
                font-size: .6875rem;
                letter-spacing: 0.3em;
                color: $white;
                font-weight: 700;
                padding: .6875rem 0;
            }
            .sell-item {
                list-style-type: none;
                border-top: 1px solid rgba(78, 78, 78, .25);
                margin: 0;
                padding: 0;
                margin-top: 1.5rem;
                h3 {
                    font-weight: 900; 
                    font-size: 2.25rem;
                    letter-spacing: 0.02em;
                    display: inline-block;
                    padding-top: .9rem;
                    margin: 0;
                    margin-top: -4px;
                    border-top: 4px solid $text;
                }
                div {
                    font-size: 1rem;
                    letter-spacing: 0.2em;
                    line-height: 1;
                    margin: 0;
                    .font_small {
                        color: $text;
                        font-weight: 500;
                        margin-top: 1.0385rem;
                        margin-bottom: 1.75rem;
                    }
                }
                &:last-child {
                    border-bottom: 1px solid rgba(78, 78, 78, .25);
                    margin-bottom: 1.5rem;
                }
            }
        }
        .flip-btn {
            display: block;
            width: 100%;
            border-top: 1px solid rgba(78, 78, 78, .25);
            padding: 0;
            position: relative;
            &:after {
                content: '&';
                position: absolute;
                top: 0;
                right: 0;
                top: 1.3rem;
                text-align: right;
                color: white;
            }
            a {
                display: inline-block;
                border-top: solid 4px $text;
                font-size: .75rem;
                font-weight: 900;
                color: $white;
                margin-top: -4px;
                padding: 1.3rem 0 0;
            }
        }
        .see-less {
            display: block;
            width: auto;
            position: absolute;
            bottom: .25rem;
            left: 1.5rem;
            right: 1.5rem;
            &:after {
                -webkit-transform: rotateY(180deg);
            }
        }
        #front-1 {
            background-color: $red;
            background-image: url(../../images/audio-box.jpg);
            background-size: 456px;
            background-position: right 1.75rem;
            @media #{$media-s} {
                background-size: 656px;
                background-position: right 1.75rem;
            }
        }
        #front-2 {
            background-color: $yellow;
            background-image: url(../../images/video-box.jpg);
            background-size: 456px;
            background-position: right 1.75rem;
            @media #{$media-s} {
                background-size: 656px;
                background-position: right 1.75rem;
            }
        }
        #front-3 {
            background-color: $blue;
            background-image: url(../../images/network-box.jpg);
            background-size: 456px;
            background-position: right 1.75rem;
            @media #{$media-s} {
                background-size: 656px;
                background-position: right 2.75rem;
            }
        }
        #back-1 {
            background-color: $red;
        }
        #back-2 {
            background-color: $yellow;
        }
        #back-3 {
            background-color: $blue;
        }
    }
}m

.two-split, .logos {
    margin-top: 6rem;
}

#our-work {
    text-align: center;
    margin-top: 1rem;
    padding-top: 3rem;
}

footer {
    text-align: center;
    padding: 6%;
}

.two-split td {
    @media #{$media-l} {
        &.left {
            width: 45%;
            text-align: right;
            padding-left: 10rem;
        }
    }
}

.mini-cards{
    h5 {
        font-size: .75rem;
        line-height: 1.333333333;
        color: $charcoal;
        letter-spacing: 0.3em;
    }
}
