// Structure

section {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    height: auto;
    min-height: inherit;
    
    @media #{$media-m} { 
        min-height: 700px;
    }
}

section aside {
    height: 100%;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-align-items: center;
}

section aside.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    width: 100%;
    height: 500px;
    position: relative;
    
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    @media #{$media-m} { 
        height: auto;
        width: 50%;
        position: absolute;
        vertical-align: middle;
        overflow: hidden;
        left: 0;
        top: 0;
        bottom: 0;
    }    
}

section aside.content {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 6%;
    
    @media #{$media-m} { 
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
    }
}

section aside.content div ul {
    margin-left: 1.1em;
}

section.flip-layout aside.media {
    @media #{$media-m} { 
        left: 50%;
        top: 0;
        bottom: 0;
    }    
}

section.flip-layout aside.content {
    @media #{$media-m} { 
        right: 50%;
        top: 0;
        bottom: 0;
    }    
}

// Carousel

.carousel-wrapper {
    position: relative;
    min-height: 1350px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4rem;
    @media only screen and (min-width: 20em) {
        min-height: 1180px;
    }
    @media #{$media-s} {
        min-height: 1100px;
    }
    @media #{$media-m} {
        min-height: 700px;
    }
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: .5rem;
    display: inline-block;
    height: 50px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.85rem;
}

.arrow:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(http://justaddsalt.ca/tek-av/images/slider-arrow.png) 0 50% / 20px no-repeat; 
}

.arrow-right {
    right: .5rem;
    padding-right: 25px;
    padding-top: 3px;
    @media only screen and (min-width: 45em) {
        color: $charcoal;
    }
}

.arrow-right:after {
    right: 0;
    -webkit-transform: rotate(180deg);
    @media only screen and (min-width: 45em) {
        -webkit-filter: brightness(-3);
        filter: brightness(-3);
    }
}

.arrow-left {
    left: .5rem;
    padding-left: 25px;
    padding-top: 3px;
}

.arrow-left:after {
    left: 0;
}

[id^="target-item"] {
  display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}

*:target ~ .item-1 {
    opacity: 0;
}

#target-item-1:target ~ .item-1 {
    opacity: 1;
}

#target-item-2:target ~ .item-2, 
#target-item-3:target ~ .item-3, 
#target-item-4:target ~ .item-4,
#target-item-5:target ~ .item-5,
#target-item-6:target ~ .item-6,
#target-item-7:target ~ .item-7,
#target-item-8:target ~ .item-8,
#target-item-9:target ~ .item-9,
#target-item-10:target ~ .item-10,
#target-item-11:target ~ .item-11 {
    z-index: 3;
    opacity: 1;
}

// Mini-Slider

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.holder {
    width: 300%;
    height: 100%;
}

.slide>.caption {
    position: absolute;
    bottom: 0rem;
    left: 1rem;
    color: white;
    font-style: italic;
    width: 70%;
}

.slide {
    float: left;
    width: 33.333333%;
    height: 100%;
}

.slide:after {
    content: '';
    position: absolute;
    color: $white;
    z-index: 7;
    bottom: .85rem;
    left: 1rem;
    width: 70%;
    font-size: 0.85em;
    font-style: italic;
}

.slider-nav {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
    z-index: 7;
}

.slider-nav a {
    width: 10px;
    height: 10px;
    display: block;
    border: solid 1px white;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: 50%;
    margin: 8px 0 0;
}

.slider-nav-test a {
    display: inline-block;
    margin: 0 0 0;
}

.slider-nav a.active {
  background-color: rgba(255,255,255,.6);
}

.slide {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

// Three Column

.three-col{
    div {
        width: 97.5%;
        margin: 0 auto 2rem;
        padding: 0;
    }
    @media only screen and (min-width: 45em) {
        display: flex;
        flex-flow: row;
        justify-content: center;
        div {
            display: flex;
            width: 100%;
            flex-flow: column;
            align-items: center;  
            margin-bottom: 0;
        }
        div:nth-child(2){
            margin: 0;
        }
    }
}

// Two Split Table

table, td {
    border: none;
    border-collapse: collapse;
}

table {
    width: 100%;
}

.two-split td {
    display: block;
    width: 100%;
    vertical-align: top;
    @media #{$media-m} {
        display: table-cell;
        &.left {
            width: 45%;
            text-align: right;
        }
        &.right {
            width: 55%;
            text-align: left;
            padding-left: 2rem;
        }
    }
}

// Flip

.flipper {
    -webkit-transition: transform 800ms cubic-bezier(.33,.28,.18,.99);
	transition: transform 800ms cubic-bezier(.33,.28,.18,.99);
    transform: rotateY(0deg);
	transform-style: preserve-3d;
    cursor: pointer;
	position: relative;
}

.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: $lightgrey;
    position: absolute;
    top: 0;
	left: 0;
    right: 0;
    bottom: 0;
}

.back {
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $lightgrey;
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
    cursor: auto;
	transform: rotateY(180deg);
}

.see-less {
    cursor: pointer;
}

// Full-width Slider

#testimonials {
    text-align: center;
    padding-top: 2rem;
    position: relative;
    width: 100%;
    background-color: grey;
    .slider {
        display: table-cell;
        text-align: center;
        position: relative;
        width: 100%;
        padding: 6% 0 8%;
    }
    .slider-nav {
        text-align: center;
        position: absolute;
        bottom: 1rem;
        right: 0;
        left: 0;
    }
    .slide p {
        padding: 0 2%;
        @media #{$media-m} {
            padding: 0 30%;
        }
    }
    
}

// Logos 

.logos ul li {
    display: inline-block;
    width: 4.8125rem;
    margin: 0 .3125em;
}

// Form

.md-content section {
    height: auto;
    min-height: 1px;
    
    @media #{$media-m} { 
        min-height: 1px;
    }
}

input.checkbox {
    @media #{$media-m} { 
        display: inline-block;
    }
}

// Mini Card

.mini-cards{
    margin-top: 2rem;
    list-style-type: none;
    li {
        background-color: transparent;
        text-align: left;
        position: relative;
        display: inline-block;
        height: 4rem;
        width: 8.75rem;
        margin: 0 .25em .25em;
        @media #{$media-s} { 
            width: 10rem;
            margin: 0 .625em .625em;
        }
        img {
            height: 30px;
            width: 30px;
            top: 17px;
            bottom: 0;
            left: 8px;
            position: absolute;
            @media #{$media-s} { 
                height: 40px;
                width: 40px;
                top: 12px;
                bottom: 0;
                left: 12px;
            }
        }
        h5 {
            position: absolute;
            color: $charcoal;
            left: 45px;
            @media #{$media-s} { 
                left: 60px
            }
            padding-right: .5rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
        }
    }
}