// Typography

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $dark;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h1, .uno {
  margin-top: 0;
  font-size: 2.827em;;
}

h2, .dos {font-size: 1.999em;}

h3, .tres {font-size: 1.999em;}

h4, .cuatro {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

@media #{$media-m} { 
    h1, .uno {
      margin-top: 0;
      font-size: 3.998em;
    }

    h2, .dos {font-size: 2.827em;}

}

a {
    color: $dark;
}